@model List<string>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<hr />
<form asp-controller="SetType" asp-action="Add">
    <input type="text" name="name" />
    <button type="submit">Kaydet</button>
</form>
<hr />
<br />
@foreach (var item in Model)
{
    <h6>@item <a asp-controller="SetType" asp-action="Delete" asp-route-name="@item">Sil</a></h6>
}

